<h1>Listings</h1>

<%@listing.each do |listing|%>
<%listing.places.each do |x|%>
  <%= image_tag x %>
<%end%>
<p> 
  <strong>Property Name:</strong>
  <%= listing.property_name %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= listing.address %>
</p>

<p>
  <strong>Property Type:</strong>
  <%= listing.property_type %>
</p>

<p>
  <strong>Relistingsntal:</strong>
  <%= listing.rental %>
</p>

<p>
  <strong>Smoking Allowed:</strong>
  <%= listing.smoking %>
</p>

<p>
  <strong>Label:</strong>
    <%=raw tag_links(listing.all_tags)%>
</p>



<%=link_to 'Edit This Listing ', edit_user_listing_path(current_user, listing)%>
<%=link_to 'Delete This Listing ', user_listing_path(current_user, listing), method: :delete%>
<%=link_to 'More Information ',user_listing_path(current_user, listing)%>
<%end%>