<h1>Your New Listing</h1>

<%@user.listings.each do |listing|%>
<p> 
  <strong>Property Name:</strong>
  <%= listing.property_name %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= listing.address %>
</p>

<p>
  <strong>Property Type:</strong>
  <%= listing.property_type %>
</p>

<p>
  <strong>Rental:</strong>
  <%= listing.rental %>
</p>

<p>
  <strong>Smoking Allowed:</strong>
  <%= listing.smoking %>
</p>

<p>
  <strong>Label:</strong>
  <%= listing.all_tags %>
</p>
<%end%>