

<h1>Your Listing</h1>

  <strong>Property Name:</strong>
  <%= @listing.property_name %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>


<p>
  <strong>Property Type:</strong>
  <%= @listing.property_type %>
</p>

<p>
  <strong>Rental:</strong>
  <%= @listing.rental %>
</p>

<p>
  <strong>Smoking Allowed:</strong>
  <%= @listing.smoking %>
</p>

<p>
  <strong>Price per Night:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Label:</strong>
  <%=raw tag_links(@listing.all_tags)%>
</p>


<h4 style="color:blue;">Book now</h4>
<%= form_for [current_user,@listing, Reservation.new] do |f| %>
    <%= f.label :check_in%> 
<%= f.date_field :check_in%>

<%= f.label :check_out%> 
<%= f.date_field :check_out%>

<%= f.submit 'Book Now!' %>
<%end%>


<%=link_to 'Edit This Listing ', edit_user_listing_path(current_user, @listing)%>
<%=link_to 'Delete This Listing ', user_listing_path(current_user, @listing), method: :delete%>
