<h1>You are now logged in</h1>
<p>
  <strong>First name:</strong>
  <%= current_user.first_name %>
</p>
 
<p>
  <strong>Last name:</strong>
  <%= current_user.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= current_user.gender %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= current_user.nationality %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>