<h1>Your profile</h1>
<img src = "<%=current_user.avatar %>">
<p>
  <strong>First name:</strong>
  <%= current_user.first_name %>
</p>
 
<p>
  <strong>Last name:</strong>
  <%= current_user.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= current_user.gender %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= current_user.nationality %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>


<%=link_to 'Create New Listing ', new_user_listing_path(current_user)%>