<h1>That's all for your order:</h1>


<%= form_for [@reservation, @payment] do |f| %>

  <div class="field">
    <%= f.label :check_in %><br>
    <%= @reservation.check_in %><br>
  </div>
  <div class="field">
    <%= f.label :check_out %><br>
    <%= @reservation.check_out %><br>
  </div>
  <div>
    <div id='dropin'></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>


<script type="text/javascript"> 
  function setupBT() {
    braintree.setup("<%= @client_token %>", 'dropin', {
      container: 'dropin'
    });
  }

  if (window.addEventListener)
    window.addEventListener("load", setupBT, false);
  else if (window.attachEvent)
    window.attachEvent("onload", setupBT);
  else window.onload = setupBT;

</script>